
<style>

.jumbotron {
  height: 380px;
  background-image: url("https://x96.com/wp-content/uploads/2019/02/secret.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

</style>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 style="margin-top:100px; font-size:58px; color:white;" class="display-4"><strong>Le GOSSIP :</strong> <%= @gossip.find(params[:id]).title%></h1>
    <p style="font-size:28px; color:white;" class="lead">Tu trouveras ci-dessous toutes les infos relatives au Gossip qui t'intéresse espèce de stalker.</p>
  </div>
</div>

<p style="padding-left:100px;"><strong>Titre : </strong><%= @gossip.find(params[:id]).title%></p>
<p style="padding-left:100px;"><strong>Contenu :</strong> <%= @gossip.find(params[:id]).content%></p>
<p style="padding-left:100px;"><strong>Créé le :</strong> <%= @gossip.find(params[:id]).created_at%></p>
<p style="padding-left:100px;"><strong>Autheur :</strong> <% g = @gossip.find(params[:id]) %> <% h = g.user_id %> <%= @user.find(h).first_name%> <%= @user.find(h).last_name%></p>

<div style="margin-left:100px;">

<% if current_user%>
  <a style="margin-bottom:10px;" href="<%=edit_gossip_path%>" class="btn btn-outline-primary" style="border-color:#62DDB9; color:#62DDB9;"> Modifier le gossip </a>
  <br>
  <%=form_tag url_for(action:'destroy'), method: "DELETE" do %>
    <%=submit_tag "Supprimer le Gossip" %>
  <% end %>
<% end %>

</div>

<br>

<center>

  <a href="<%=author_path(h)%>" class="btn btn-outline-light" style="border-color:#62DDB9; color:#62DDB9;"> Lien vers la page du Gossipeur </a>
  <a href="<%=city_path(@user.find(h).city_id)%>" class="btn btn-outline-light" style="border-color:#62DDB9; color:#62DDB9;"> Lien vers la ville du Gossipeur </a>
  <br><br>
  
</center>
