<div style="height:100px;">

</div>

<div style="background-color:#62DDB9; opacity:70%; transform:skewY(-2deg); height:48em; margin-bottom:0px; ">
  <div class="container text-center py-4" style="transform:skewY(2deg);">

    <h1 style="text-align:center; margin-top:40px; color:white; font-size:48px;"> Vas-y. On est entre nous. Balance les bails !</h1>

    <div style="text-align:center; margin-top:50px;">

    <%= form_tag url_for(action:'create'), method: "post" do %>

      <%= label_tag 'Prénom' %><br>
      <%= text_field_tag 'first_name'  %>
      <br /> <br />

      <%= label_tag 'Nom' %><br>
      <%= text_field_tag 'last_name'  %>
      <br /> <br />

      <%= label_tag 'Description ' %><br>
      <%= text_field_tag 'description'  %>
      <br /> <br />

      <%= label_tag 'Age ' %><br>
      <%= text_field_tag 'age'  %>
      <br /> <br />

      <%= label_tag 'E-mail' %><br>
      <%= text_field_tag 'email'  %>
      <br /> <br />

      <%= label_tag 'Mot de Passe' %><br>
      <%= password_field_tag 'password' %><br>

      <%= label_tag 'Confirme ton Mot de Passe' %><br>
      <%= password_field_tag 'password_confirmation' %>
      <br /> <br />

      <%= submit_tag "M'inscrire" %>

    <% end %>

    </div>

  </div>
</div>
